/* Light Theme (Default) */
body {
    background-color: #f4f4f4; /* Light grey background */
    color: #333; /* Dark grey text color */
}

/* Dark Theme */
body.dark-theme {
    background-color: #121212; /* Dark background */
    color: #f4f4f4; /* Light text color */
}

.dark-theme header,
.dark-theme footer {
    background-color: #333; /* Darker background for header and footer */
    color: #fff; /* Light text */
}

.dark-theme .bdy_div {
    background-color: #1e1e1e; /* Dark background for main content */
    color: #f4f4f4; /* Light text */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Lighter shadow */
}
